/* VARIABLES */
:root {
  --base-color: #ffffff;
  --text-color: #0f172a;
  --secondary-text: #64748b;
  
  --nav-bg: #80808059;
  --nav-hover: #80808099;

  --border: #e2e8f0;

  --social-btn-bg-hover: #f8fafc;
  --social-btn-hover: #0f172a;

  --link-hover: #0f172a;

  --project-tag-bg: #f1f5f9;
  
  --skill-tag-bg: #3b82f61a;
  --skill-tag-border: #3b82f633;
}

.darkmode {
  --base-color: #000000;
  --text-color: #ffffff;
  --secondary-text: #a1a7af;
  
  --nav-bg: #b8b7b759;
  --nav-hover: #f0eeee99;

  --border: #e2e8f03d;

  --social-btn-bg-hover: #dadada;
  --social-btn-hover: #000000;

  --link-hover: #ffffff;

  --project-tag-bg: #000000;
  
  --skill-tag-bg: #53535328;
  --skill-tag-border: #ffffff85;
}



/* BODY */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base-color);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
}

body::-webkit-scrollbar {
  display: none;
}

.min-h-screen {
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1%;
}



/* MAIN */
.main-content {
  padding: 0 1rem;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}



/* NAV-BAR */
.side-nav {
  position: fixed;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: none;
  display: block;
}

.side-nav-dots {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-dot {
  background: var(--nav-bg);
  width: 8px;
  height: 32px;
  border: 0;
  border-radius: 9999px;
  padding: 0;
  cursor: pointer;
  transition: background-color 200ms, opacity 200ms;
}

.nav-dot:hover {
  background: var(--nav-hover);
}

.nav-dot.is-active {
  background: var(--text-color);
  opacity: 1;
}



/* THEME TOGGLE */
#theme-toggle {
  height: 32px;
  width: 30px;
  padding: 0;
  border: 0;
  border-radius: 100%;
  background-color: var(--nav-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  left: -.68rem;
  top: 12rem;
}

#theme-toggle:hover {
  background-color: var(--nav-hover);
}

#theme-toggle svg {
  fill: var(--text-color);
}

#theme-toggle svg:last-child {
  display: none;
}

.darkmode #theme-toggle svg:first-child {
  display: none;
}

.darkmode #theme-toggle svg:last-child {
  display: block;
}



/* HERO */
.hero-section {
  padding: 5rem 0 5rem;
  opacity: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  height: auto;
}

.hero-text {
  margin-bottom: 1rem;
}

.hero-title {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.hero-description {
  max-width: 700px;
  margin: 0 auto;
  color: var(--secondary-text);
  font-size: 1.125rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--border);
  background-color: transparent;
  border-radius: 0.375rem;
  color: var(--secondary-text);
  text-decoration: none;
  transition: all 0.2s;
}

.social-btn:hover {
  background-color: var(--social-btn-bg-hover);
  color: var(--social-btn-hover);
}

.icon {
  width: 1rem;
  height: 1rem;
}



/* PROJECTS */
.projects-section {
  padding: 5rem 0 5rem;
  opacity: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.project-card {
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  background-color: var(--base-color);
  transition: transform 0.2s;
}

.project-card:hover {
  transform: translateY(-2px);
}

.project-content {
  padding: 1rem;
}

.project-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.project-date {
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}

.project-description {
  font-size: 0.875rem;
  color: var(--secondary-text);
  margin-bottom: 1rem;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  background-color: var(--project-tag-bg);
  border-radius: 0.375rem;
  font-size: 0.75rem;
  font-weight: 500;
  border: 1px solid var(--border);
}

.project-footer {
  padding: 1rem;
  padding-top: 0;
}

.project-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: var(--secondary-text);
  text-decoration: none;
  transition: color 0.2s;
}

.project-link:hover {
  color: var(--link-hover);
  text-decoration: underline;
}



/* EXPERIENCE */
.experience-section {
  padding: 5rem 0 5rem;
  opacity: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.experience-grid {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: stretch;
}

.experience-card {
  display: grid;
  grid-template-columns: 8.5rem 1fr;
  align-items: start;
}

.experience-year {
  font-size: 1.125rem;
  font-weight: 600;
  padding-top: 1.177rem;
  white-space: nowrap;
}

.experience-content {
  padding: 1rem;
}

.experience-title {
  font-size: 1.25rem;
}

.experience-company {
  font-weight: 600;
  margin-bottom: .5rem;
}

.experience-description {
  font-size: 0.9rem;
  color: #64748b;
  margin-bottom: .67rem;
}



/* SKILLS */
.skills-section {
  padding: 5rem 0 5rem;
  min-height: 100vh;
  opacity: 0;
  display: grid;
  place-items: center;
}

.skills-grid {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}

.skills-card {
  padding: 1.5rem;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  background-color: var(--base-color);
}

.skills-card:hover {
  transform: translateY(-2px);
}

.skills-category {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.skills-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skill-tag {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  background-color: var(--skill-tag-bg);
  color: var(--secondary-text);
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  border: 1px solid var(--skill-tag-border);
}



/* FOOTER */
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 0;
  align-items: center;
}

.footer-text {
  font-size: 0.75rem;
  color: #64748b;
}



/* RESPONSIVE */
@media (max-width: 600px) {
  .side-nav { left: 5% }

  .hero-section { padding: 10%; }
  .hero-title { font-size: 2.50rem; }

  .projects-section { padding: 8%; }

  .experience-section { padding: 8% }

  .skills-section { padding: 8% }
}



/* ANIMATIONS */
.animate-fade-in-up {
  animation: fade-in-up 3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 
